html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(images/redtail-cover.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

ul {
  padding-top: 40px;
}

iframe {
  padding: 25px 50px 75px 100px;
}

.container {
  min-height: 100%;
  position: relative;
}

.text-block {
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  padding-bottom: 60px;
  text-align: center;
  opacity: 0.95;
}

.footer {
  position: fixed;
  background-color: red;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  line-height: .5;
}


.topnav {
    background-color: #353535;
    color: rgb(53,53,53);
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-bottom-width: 10px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
}

.logo-img {
    float: left;
    padding-left: 15%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 21px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}